<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/HomePage.js}"></script>
</head>
<body>
    <form method="post" th:action="@{/join}" id="joinGameForm">
        <input type="text" th:name="userName" id="joinRoomUsername"/>
        <input type="text" th:name="roomKey" id="joinRoomKey"/>
        <button id="joinGameButton">join</button>
    </form>

    <script th:inline="javascript">
        var error = [[${errorMessage}]];
        if(error !== null){
            alert(error);
        }
    </script>



</body>
</html>