html, body {
    margin:0px;
    height:100%;
}

table {
    table-layout: fixed;
}

#boardTable {
    height: 100%;
    border-style: solid;
    display: block;
}

.bg {
    height: 100%;
    width: 100%;
    background-image: url("image/05.png");
    background-size: contain;
}