html, body {
    margin:0px;
    height:100%;
}

table, th, td {
    border: 1px solid;
}

table {
    table-layout: fixed;
}

#boardTable {
    height: 80%;
    border-style: solid;
}

td {
    background-image: url(https://picsum.photos/200/200);
}