html, body {
    margin:0px;
    height:100%;
}

table, th, td {
    border: 1px solid;
}

table {
    table-layout: fixed;
}

#board{
    height: 80%;
    border-style: solid;
}

#boardTable {
    height: 80%;
    border-style: solid;
    display: block;
}

.aaa {
    background-image: url("image/05.png");
    background-size: contain;
}